@{
    ViewData["Title"] = "Home Page";
}
<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="assets/img/intro.jpg" alt="..." />
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Прясно кафе</span>
                    <span class="section-heading-lower">Струва си да се пие</span>
                </h2>
                <p class="mb-3">Всяка чаша от нашето качествено майсторско кафе започва с местни, ръчно подбрани съставки. След като го опитате, нашето кафе ще бъде блажено допълнение към ежедневната ви сутрешна рутина - гарантираме го!</p>
                <div class="intro-button mx-auto"><a class="btn btn-primary btn-xl" href="#!">Visit Us Today!</a></div>
            </div>
        </div>
    </div>
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Нашето обещание</span>
                        <span class="section-heading-lower">към теб</span>
                    </h2>
                    <p class="mb-0">Когато влезете в нашето заведение, за да започнете деня си, ние сме посветени на това да ви предоставим приятелско обслужване, гостоприемна атмосфера и преди всичко отлични продукти, произведени от най-висококачествени съставки. Ако не сте доволни, моля, уведомете ни и ние ще направим всичко възможно, за да оправим нещата!</p>
                </div>
            </div>
        </div>
    </div>
</section>