
<ul class="navbar-nav mx-auto">
    <li class="nav-item px-lg-4">
        <a class="nav-link text-uppercase" asp-area="" asp-controller="Home" asp-action="Index">Начало</a>
    </li>
    
    <li class="nav-item px-lg-4">
        <a class="nav-link text-uppercase" asp-area="" asp-controller="Menu" asp-action="Index">Меню</a>
    </li>
    <li class="nav-item px-lg-4">
        <a class="nav-link text-uppercase" asp-area="" asp-controller="Menu" asp-action="DeletedItems">Премахнати</a>
    </li>
    <li class="nav-item px-lg-4">
        <a class="nav-link text-uppercase" asp-area="" asp-controller="Category" asp-action="Index">Категории</a>
    </li>
</ul>