@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h1>Роли с които разполагате</h1>

<table class="table table-sm table-responsive ">
    <thead>
        <tr>
            <th>Име на ролята</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
            </tr>
        }
    </tbody>
</table>

